In [1]:
import os
import pandas as pd

In [6]:
file_dir = os.getcwd()[:-7] + "/Cleansed/"
file_neg = os.listdir(file_dir + "negative")
file_pos = os.listdir(file_dir + "positive")

In [7]:
df_neg = pd.concat((pd.read_csv(file_dir + "/negative/" + filename, index_col=0)) for filename in file_neg).reset_index(drop=True)
df_neg['type'] = 'neg'

In [8]:
df_pos = pd.concat((pd.read_csv(file_dir + "/positive/" + filename, index_col=0)) for filename in file_pos).reset_index(drop=True)
df_pos['type'] = 'pos'

In [9]:
df_all = pd.concat([df_pos, df_neg]).reset_index(drop=True)

In [10]:
df_all = df_all.sample(frac=1).reset_index(drop=True)

In [11]:
df_all

                 0      1    2      3  4    5 type
0        11.474359   9243  204  29966  0    0  pos
1        17.516900   4035  335  31027  0    1  neg
2         7.479021  -3559  235  23657  0    0  neg
3        24.262821  46927  296  30273  0    0  neg
4         9.280886 -20127  113  33473  0    0  neg
...            ...    ...  ...    ... ..  ...  ...
4274320   0.967366    779   33   2599  0    0  pos
4274321   4.389277   2591  166   9821  0  401  neg
4274322  22.870047  21574  161  25780  0    0  neg
4274323   5.526224   6580  346  24110  2    4  neg
4274324  16.764569  -4910   63  39100  0    0  neg

[4274325 rows x 7 columns]

In [13]:
df_all.to_csv(os.getcwd()[:-7] + "/Cleansed/" + "df_all.csv", 
              header=['peak_amplitude', 'integral', 'phase_angle','cycle_number','rise_time', 'pulse_width', 'type'], 
              index=False)

In [15]:
pd.read_csv(os.getcwd()[:-7] + "/Cleansed/" + "df_all.csv")

,peak_amplitude,integral,phase_angle,cycle_number,rise_time,pulse_width,type
0,11.474359,9243,204,29966,0,0,pos
1,17.516900,4035,335,31027,0,1,neg
2,7.479021,-3559,235,23657,0,0,neg
3,24.262821,46927,296,30273,0,0,neg
4,9.280886,-20127,113,33473,0,0,neg
...,...,...,...,...,...,...,...
4274320,0.967366,779,33,2599,0,0,pos
4274321,4.389277,2591,166,9821,0,401,neg
4274322,22.870047,21574,161,25780,0,0,neg
4274323,5.526224,6580,346,24110,2,4,neg
4274324,16.764569,-4910,63,39100,0,0,neg